.home {
    height: 100vh;
}

.login-container {
    background-color: $backgroundLight;
    border-radius: 10px;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    width: 95%;

    @include media-breakpoint-up(md) {
        width: 25rem;
    }
}